@use "../variables";
@use "sass:color";

.c-button {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    text-decoration: underline;
    opacity: 0.9;
  }

  &--primary {
    color: variables.$color-crema;
    background-color: variables.$color-rojo-teja;

    &:hover {
      background-color: color.adjust(
        variables.$color-rojo-teja,
        $lightness: -10%
      );
    }
  }

  &--secondary {
    color: variables.$color-rojo-teja;
    background-color: transparent;
    border-color: variables.$color-rojo-teja;

    &:hover {
      color: variables.$color-crema;
      background-color: variables.$color-rojo-teja;
    }
  }
}
