@use "../variables";

.c-card-place {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: hidden;
  text-align: left;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;

  // Efecto cuando pasamos el ratón por encima
  &:hover {
    background-color: variables.$color-gris-claro;
    transform: translateY(-5px);
  }

  &__image {
    width: 100%;
    height: 200px; // Altura fija para las imágenes de las tarjetas
    object-fit: cover; // Aseguramos que la imagen cubra el espacio sin distorsionarse
  }

  &__title {
    margin: 1rem 1rem 0.5rem;
    font-size: 1.4rem;
    color: variables.$color-ink;
  }

  &__description {
    flex-grow: 1; // Para que ocupe el espacio restante
    padding: 0 1rem;
    font-size: 0.95rem;
    color: rgba(variables.$color-ink, 0.7);
  }

  .c-button--secondary {
    align-self: flex-start;
    margin: 1rem;
  }
}
