@use "../variables";

.c-gastronomy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;

  @media (min-width: variables.$mqMinWidth) {
    flex-direction: row;
    text-align: left;
    &:nth-child(even) {
      // Para invertir orden para elementos pares
      flex-direction: row-reverse;
    }
  }

  &__image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin-bottom: 1.5rem;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (min-width: variables.$mqMinWidth) {
      margin-right: 2rem;
      margin-bottom: 0;
      margin-left: 2rem;
      &:nth-child(even) {
        margin-right: 0;
        margin-left: 2rem;
      }
    }
  }

  &__content {
    flex: 1;
    padding-left: 1rem;
    text-align: justify;
  }

  &__title {
    margin-top: 0;
    font-size: 1.6rem;
    color: variables.$color-verde-patio;
  }

  &__description {
    color: rgba(variables.$color-ink, 0.8);
  }
}
