@use "../variables";

.c-icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    font-size: 1.1rem;
    color: variables.$color-ink;
    text-align: center;
  }

  &__icon {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: variables.$color-rojo-teja;
  }

  &__text {
    font-weight: 500;
  }
}
