@use "../variables";

.c-resource-list {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.2rem;
    color: variables.$color-ink;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$color-rojo-teja;
    }

    .fa-solid {
      font-size: 1.1em;
    }
  }
}
