@use "../variables";

.c-section {
  padding: 4rem 0;
  background-color: variables.$color-crema; // Fondo claro por defecto

  &:nth-of-type(even) {
    // Secciones pares con un fondo diferente
    background-color: variables.$color-piedra;
  }

  &__title {
    margin-bottom: 2rem;
    color: variables.$color-rojo-teja; // Color de título para secciones
    text-align: center;
  }

  &__text {
    max-width: 700px;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    text-align: justify;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &--intro {
    background-color: variables.$color-crema;
  }

  &--highlights {
    background-color: variables.$uoc-bg;
  }

  &--gastronomy {
    background-color: variables.$color-crema;
  }

  &--tips {
    background-color: variables.$uoc-bg;
  }

  &--resources {
    background-color: variables.$color-crema;
  }
}
