@use "../variables";
@use "../tools/functions"; // Para la sombra del título

.c-site-header {
  padding: 4rem 0;
  color: variables.$color-piedra; // Color de texto para el header
  text-align: center;
  background-color: variables.$color-piedra; // Color de fondo para el header

  .uoc-title {
    margin-bottom: 0.5rem;
    // Reutilizamos la clase uoc-title para el h1
    color: variables.$color-piedra; // Cambiamos el color del título para el header
    // Sombra oscura
    text-shadow: functions.subtle-shadow(
      rgba(variables.$color-ink, 0.3),
      2px,
      2px,
      4px
    );
  }

  &__tagline {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: variables.$font-family-serif;
    font-size: 1.5rem;
  }
}
